body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #f2f0d8;
}

.font-config {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-contatos{
  background: url(../../assets/img/foto_estrada.png) center no-repeat;
  background-size: cover;
}