
footer{
  color: #f2f0d8;
  background: linear-gradient(to top,#010440,#0A0E59, #010440);
}

.font-config {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cartoes {
  width: 40%;
  min-width: 250px;
}

@media (max-width: 425px){
  footer h2{
    font-size: 22px;
  }
}